<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450670153488-fqgqeivporm5egosgk88qucrugk0ec5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450670153488-fqgqeivporm5egosgk88qucrugk0ec5o</string>
	<key>API_KEY</key>
	<string>AIzaSyDyhPrURvdfQjQqIGqIKNiTsfrqM78kkiY</string>
	<key>GCM_SENDER_ID</key>
	<string>450670153488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naveenchand.instantgram</string>
	<key>PROJECT_ID</key>
	<string>instantgram-naveen</string>
	<key>STORAGE_BUCKET</key>
	<string>instantgram-naveen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450670153488:ios:c18e1b3efe50f71a649f95</string>
</dict>
</plist>